In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('geneNames-CDS2.csv')
print(df1.head())

   Unnamed: 0 geneID      LocusTag             OldLocusTag
0           0  gene0  PA14_RS00005              PA14_00010
1           1  gene1  PA14_RS00010              PA14_00020
2           2  gene2  PA14_RS00015  PA14_00030;pseudo=true
3           4  gene4  PA14_RS00025              PA14_00060
4           5  gene5  PA14_RS00030              PA14_00070

In [4]:
df2 = df1.dropna(axis=0, subset=['LocusTag'])
df2.tail()

      Unnamed: 0    geneID LocusTag OldLocusTag
6172        5222  gene5222     ychF  PA14_61820
6173        5407  gene5407     yciH  PA14_64000
6174        2082  gene2082     yegS  PA14_24970
6175        4345  gene4345     ygbF  PA14_51690
6176        1920  gene1920      zwf  PA14_23070

In [5]:
df2.shape

(6177, 4)

In [6]:
mask2 = df2['OldLocusTag'].isnull()
df2.loc[mask2,'OldLocusTag'] = df2.loc[mask2,'LocusTag']

In [7]:
df2.tail()

      Unnamed: 0    geneID LocusTag OldLocusTag
6172        5222  gene5222     ychF  PA14_61820
6173        5407  gene5407     yciH  PA14_64000
6174        2082  gene2082     yegS  PA14_24970
6175        4345  gene4345     ygbF  PA14_51690
6176        1920  gene1920      zwf  PA14_23070

In [8]:
cdsAll = pd.read_excel('PA14-CDS-all.xlsx',sheet=0)
cdsAll.columns

Index([u'N2 12h A', u'N2 12h B', u'N2 22h A', u'N2 22h B', u'pmk-1 12h A',
       u'pmk-1 12h B', u'Plate 12h A', u'Plate 12h B', u'Plate 22h A',
       u'Plate 22h B'],
      dtype='object')

In [9]:
cdsAll.reset_index(level=0, inplace=True)
cdsAll.head()

,index,N2 12h A,N2 12h B,N2 22h A,N2 22h B,pmk-1 12h A,pmk-1 12h B,Plate 12h A,Plate 12h B,Plate 22h A,Plate 22h B
0,PA14_RS00005,15,11,21,184,68,76,126,47,51,16
1,PA14_RS00010,10,4,11,102,36,34,47,14,14,7
2,PA14_RS00015,4,8,13,66,34,19,89,80,57,54
3,PA14_RS00025,5,0,1,17,12,2,13,7,3,2
4,PA14_RS00030,2,1,5,24,8,6,12,6,13,1

In [10]:
#del cdsAll['LocusTag']
cdsAll.rename(columns={'index':'LocusTag'},inplace=True)
cdsAll.head()

,LocusTag,N2 12h A,N2 12h B,N2 22h A,N2 22h B,pmk-1 12h A,pmk-1 12h B,Plate 12h A,Plate 12h B,Plate 22h A,Plate 22h B
0,PA14_RS00005,15,11,21,184,68,76,126,47,51,16
1,PA14_RS00010,10,4,11,102,36,34,47,14,14,7
2,PA14_RS00015,4,8,13,66,34,19,89,80,57,54
3,PA14_RS00025,5,0,1,17,12,2,13,7,3,2
4,PA14_RS00030,2,1,5,24,8,6,12,6,13,1

In [11]:
cdsAll.shape

(6025, 11)

In [12]:
df_merge = pd.merge(df2, cdsAll, how='outer', on='LocusTag', indicator=True)

In [13]:
rows_in_cdsAll_not_in_df2 = df_merge[df_merge['_merge']=='right_only'][cdsAll.columns]
rows_in_cdsAll_not_in_df2

,LocusTag,N2 12h A,N2 12h B,N2 22h A,N2 22h B,pmk-1 12h A,pmk-1 12h B,Plate 12h A,Plate 12h B,Plate 22h A,Plate 22h B
6177,NaN,200000.0,100000.0,200000.0,900000.0,400000.0,400000.0,800000.0,600000.0,400000.0,400000.0
6178,NaN,30046.0,17579.0,34336.0,226829.0,92805.0,103598.0,193489.0,153769.0,110968.0,119846.0

In [14]:
rows_in_df2_not_in_cdsAll = df_merge[df_merge['_merge']=='left_only'][df2.columns]
rows_in_df2_not_in_cdsAll

      Unnamed: 0    geneID      LocusTag   OldLocusTag
250        287.0   gene287  PA14_RS01415    PA14_03410
537        617.0   gene617  PA14_RS02995    PA14_07470
621        709.0   gene709  PA14_RS03450    PA14_08570
622        710.0   gene710  PA14_RS03455    PA14_08580
623        711.0   gene711  PA14_RS03460    PA14_08590
624        712.0   gene712  PA14_RS03465    PA14_08600
628        717.0   gene717  PA14_RS03490    PA14_08650
629        718.0   gene718  PA14_RS03495    PA14_08660
630        719.0   gene719  PA14_RS03500    PA14_08670
631        721.0   gene721  PA14_RS03510    PA14_08690
1039      1196.0  gene1196  PA14_RS05820    PA14_14570
1446      1688.0  gene1688  PA14_RS08220    PA14_20500
1547      1807.0  gene1807  PA14_RS08790    PA14_21800
1548      1808.0  gene1808  PA14_RS08795    PA14_21810
1673      1957.0  gene1957  PA14_RS09510    PA14_23490
1679      1964.0  gene1964  PA14_RS09545  PA14_RS09545
1680      1965.0  gene1965  PA14_RS09550  PA14_RS09550
1681      1966.0  gene1966  PA14_RS09555    PA14_23570
1682      1967.0  gene1967  PA14_RS09560    PA14_23580
1710      2007.0  gene2007  PA14_RS09760    PA14_24110
1711      2008.0  gene2008  PA14_RS09765    PA14_24120
1712      2009.0  gene2009  PA14_RS09770    PA14_24130
1771      2073.0  gene2073  PA14_RS10080    PA14_24870
1933      2259.0  gene2259  PA14_RS11000    PA14_27190
1965      2293.0  gene2293  PA14_RS11170    PA14_27600
1966      2294.0  gene2294  PA14_RS11175    PA14_27610
1967      2295.0  gene2295  PA14_RS11180    PA14_27620
2017      2350.0  gene2350  PA14_RS11445    PA14_28190
2067      2403.0  gene2403  PA14_RS11705    PA14_28740
2196      2547.0  gene2547  PA14_RS12405    PA14_30420
...          ...       ...           ...           ...
4387      5079.0  gene5079  PA14_RS24545    PA14_60150
4388      5080.0  gene5080  PA14_RS24550    PA14_60160
4389      5081.0  gene5081  PA14_RS24555    PA14_60180
4424      5123.0  gene5123  PA14_RS24765    PA14_60620
4513      5218.0  gene5218  PA14_RS25235    PA14_61760
4517      5223.0  gene5223  PA14_RS25260    PA14_61830
4534      5245.0  gene5245  PA14_RS25360    PA14_62060
4535      5246.0  gene5246  PA14_RS25365    PA14_62070
4536      5247.0  gene5247  PA14_RS25370    PA14_62080
4537      5248.0  gene5248  PA14_RS25375    PA14_62090
4585      5307.0  gene5307  PA14_RS25665    PA14_62790
4586      5308.0  gene5308  PA14_RS25670    PA14_62800
4637      5368.0  gene5368  PA14_RS25965    PA14_63460
4751      5508.0  gene5508  PA14_RS26660    PA14_65210
4752      5509.0  gene5509  PA14_RS26665    PA14_65220
4935      5732.0  gene5732  PA14_RS27740    PA14_68030
4946      5744.0  gene5744  PA14_RS27800    PA14_68150
5132      5962.0  gene5962  PA14_RS28865    PA14_70880
5133      5963.0  gene5963  PA14_RS28870    PA14_70890
5134      5964.0  gene5964  PA14_RS28875    PA14_70900
5135      5965.0  gene5965  PA14_RS28880    PA14_70910
5724      3746.0  gene3746           ffs           ffs
5725      3748.0  gene3748           ffs           ffs
6060      4836.0  gene4836          rnpB          rnpB
6073      5961.0  gene5961           rrf    PA14_70870
6074      4684.0  gene4684           rrf    PA14_55620
6075      5244.0  gene5244           rrf    PA14_62050
6076       713.0   gene713           rrf    PA14_08610
6098      4505.0  gene4505          ssrA          ssrA
6099      5814.0  gene5814          ssrS          ssrS

[79 rows x 4 columns]

In [15]:
df_merge.head()

,Unnamed: 0,geneID,LocusTag,OldLocusTag,N2 12h A,N2 12h B,N2 22h A,N2 22h B,pmk-1 12h A,pmk-1 12h B,Plate 12h A,Plate 12h B,Plate 22h A,Plate 22h B,_merge
0,0.0,gene0,PA14_RS00005,PA14_00010,15.0,11.0,21.0,184.0,68.0,76.0,126.0,47.0,51.0,16.0,both
1,1.0,gene1,PA14_RS00010,PA14_00020,10.0,4.0,11.0,102.0,36.0,34.0,47.0,14.0,14.0,7.0,both
2,2.0,gene2,PA14_RS00015,PA14_00030;pseudo=true,4.0,8.0,13.0,66.0,34.0,19.0,89.0,80.0,57.0,54.0,both
3,4.0,gene4,PA14_RS00025,PA14_00060,5.0,0.0,1.0,17.0,12.0,2.0,13.0,7.0,3.0,2.0,both
4,5.0,gene5,PA14_RS00030,PA14_00070,2.0,1.0,5.0,24.0,8.0,6.0,12.0,6.0,13.0,1.0,both

In [18]:
rows_both = df_merge[df_merge['_merge']=='both'][df_merge.columns]

In [17]:
rows_both.shape

(6098, 11)

In [19]:
rows_both.tail()

,Unnamed: 0,geneID,LocusTag,OldLocusTag,N2 12h A,N2 12h B,N2 22h A,N2 22h B,pmk-1 12h A,pmk-1 12h B,Plate 12h A,Plate 12h B,Plate 22h A,Plate 22h B,_merge
6172,5222.0,gene5222,ychF,PA14_61820,7.0,8.0,11.0,39.0,19.0,13.0,28.0,26.0,8.0,5.0,both
6173,5407.0,gene5407,yciH,PA14_64000,3.0,0.0,6.0,13.0,15.0,6.0,16.0,4.0,2.0,2.0,both
6174,2082.0,gene2082,yegS,PA14_24970,1.0,2.0,5.0,19.0,12.0,19.0,12.0,18.0,9.0,23.0,both
6175,4345.0,gene4345,ygbF,PA14_51690,15.0,2.0,10.0,87.0,37.0,29.0,57.0,49.0,34.0,14.0,both
6176,1920.0,gene1920,zwf,PA14_23070,39.0,11.0,17.0,180.0,68.0,56.0,35.0,75.0,11.0,32.0,both

In [20]:
cdsAll2 = pd.read_excel('PA14-CDS-all.xlsx',sheet='tmp')
cdsAll2.shape

(6025, 10)

In [21]:
rows_both.to_csv('CDS-all-tmp.csv')